# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
env/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Editors/IDE
.idea/
.vscode/

# Local environment files
.env
.env.*

# Outputs
outputs/


*.diff
*.txt

